{% extends('base.html.twig') %}

{% block body %}

  
<h1>List of all posts</1h>
<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>title</td>
            <td>GROUP ID</td>
            <td>GROUP NAME</td>
        </tr>
    </thead>
    <tbody>
    {% for result in results %}
        <tr>
            <td>{{ result.pid }}</td>
            <td>{{ result.ptitle }}</td>
            <td>{{ result.pid }}</td>
            <td>{{ result.pgtitle }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    
{% endblock %}