{% extends('base.html.twig') %}

{% block body %}

    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

  <a class="nav-link" href="{{ '/sfepic/public/index.php/post_group/creategroup' }}">Create group</a>

<h1>List of posts</1h>
<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>GROUP TITLE</td>

        </tr>
    </thead>
    <tbody>
    {% for post_g in post_group %}
        <tr>
            <td>{{ post_g.id }}</td>
            <td><a href="#">{{ post_g.GroupTitle }}</a></td>
            <td><a class="text-danger" href="{{ absolute_url('/sfepic/public/index.php/post_group/deletegroup/') }}{{ post_g.id }}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    
{% endblock %}