{% extends('base.html.twig') %}



{% block body %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {{ form(form)}}

{% endblock %}