{% extends('base.html.twig') %}

 

{% block body %}
 
        <a class="nav-link" href="{{ '/sfepic/public/index.php/post/create' }}">Create post</a>
   
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


<h1>List of posts</1h>
<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>TITLE</td>
            <td>ACTION</td>
        </tr>
    </thead>
    <tbody>
    {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td><a href="{{ path('post.show', {id: post.id}) }}">{{ post.title }}</a></td>
            <td><a class="text-danger" href="{{ path('post.delete', {id: post.id}) }}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    
{% endblock %}