{% extends('base.html.twig') %}


{% block body %}
{% if results is defined %}
          {% for result in results %}
        <tr>

            <td>pavadinimas: {{ result.ptitle }}</td>
 
            <td>kategorija: {{ result.pgtitle }}</td>

        </tr>
    {% endfor %}
     {% else %}

  <tr>
            <td>pavadinimas: {{ post.title }}</td>

        <td>priskirti i kategorija: {{ form(form) }}</td>
        </tr>

{% endif %}


  
{% endblock %}